{% extends 'blog/base.html' %}

{% block content %}
<a href="/course" class="back">
   戻る
</a>
<br>
<h1>１限</h1>
{% for post in posts %}
{% if post.time == "1" %}
<div class="post">
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endif %}
{% endfor %}
<br>
<h1>２限</h1>
{% for post in posts %}
{% if post.time == "2" %}
<div class="post">
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endif %}
{% endfor %}
<br>
<h1>３限</h1>
{% for post in posts %}
{% if post.time == "3" %}
<div class="post">
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endif %}
{% endfor %}
<br>
<h1>４限</h1>
{% for post in posts %}
{% if post.time == "4" %}
<div class="post">
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endif %}
{% endfor %}
<br>
<h1>５限</h1>
{% for post in posts %}
{% if post.time == "4" %}
<div class="post">
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endif %}
{% endfor %}
<br>
{% endblock %}
