{% extends 'blog/base.html' %}

{% block content %}
<div>
  <a href="{% url 'post_list' %}" class="back">
    授業一覧に戻る
  </a>
  <a href="{% url 'course' %}" class="back">
    時間割に戻る
  </a>
</div>
<div class="post">
  <div style="display:inline-flex" class="sel_del">
    <form action="{% url 'select' pk=post.pk %}" method="POST">
      {% csrf_token %}
      <input class="submit" type="submit" value="選択">
    </form>
    <form action="{% url 'delete' pk=post.pk %}" method="POST">
      {% csrf_token %}
      <input class="submit" type="submit" value="削除">
    </form>
  </div>
   
   <h2>{{post.title}}</h2>
   <h3>講義の目的と内容</h3>
   <h4>{{post.pursose}}</h4>
   <h3>授業の到達目標</h3>
   <h4>{{post.terget}}</h4>
  <h3>授業計画</h3>
  <h4>{{post.course|linebreaksbr}}</h4>
  <h3>テキスト・参考書</h3>
  <h4>{{post.textbook}}</h4>
  <h3>評価方法・基準</h3>
  <h4>{{post.evaluation}}</h4>
  
</div>
{% endblock %}

